* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONTE DOS TEXTOS */
body {
    font-family: 'Poppins', sans-serif;
}

/*INÍCIO ESTILIZAÇÃO HEADER*/
.logo img {
    width: 80px;
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*Sobre nós*/
html {
    scroll-behavior: smooth;
}

.sobreNos span {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
}

.menuDireita {
    display: flex;
    align-items: center;
    gap: 80px; 
}

.sobreNos:hover {
    color: #4A338E;
    transform: translateY(-1px);
}


/*impacto da leitura*/

.Beneficios2 span {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
}

.leitura {
    display: flex;
    align-items: center;
    gap: 100px; 
}

.Beneficios2:hover {
    color: #4A338E;
    transform: translateY(-1px);
}


.header {
    background-color: #A396E9; 
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2D1B6B;
}

.logo span {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
}

#btnLogin {
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    background-color: #4A338E;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}
#btnLogin:hover {
    background-color: #6E5CD6;
    transform: translateY(-2px);
}


/* FIM ESTILIZAÇÃO HEADER*/


/* ESTILIZAÇÃO SEÇÃO PRINCIPAL */

.principal {
    min-height: 85vh;
    background-image: url(../imagens/FundoHome.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 0;
    
}
.custom-shape-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 10;
}

.custom-shape-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px; 
}

.custom-shape-divider-bottom .shape-fill {
    fill:#F8F9FF; 
}

.conteudo {
    max-width: 500px;
    margin-left: 10%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titulo {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 15px;

}

.decoracao {
    color: white;
    margin-bottom: 20px;
}

.sobre {

    text-align: center;
    color: white;
    font-weight: 600;
    line-height: 1.7;
    margin-bottom: 25px;
    max-width: 500px;
}

#btnCadastro {
    margin-bottom: 20px;
    padding: 18px 35px;
    border-radius: 8px;
    border: none;
    background-color: #8B78E6;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.5s, transform 0.3s;
}

#btnCadastro:hover {
    background-color: #6E5CD6;
    transform: translateY(-2px);
}

.quote {
    color: white;
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative;

    display: flex;
    align-items: center;
    gap: 10px;


    text-align: center;

    min-height: 60px;

    width: 400px;
}
.aspas {
    color: #6c63ff;
    font-size: 40px;
    font-weight: bold;

  
    left: -25px;
    top: -10px;

    font-size: 50px;
}

/*FIM ESTILIZAÇÃO SEÇÃO PRINCIPAL*/



/*MOTIVOS*/

.motivos {
    margin-top: -10px;
    padding: 80px 20px;
    text-align: center;
    background-color: #F8F9FF; 
  
}

.motivos h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 60px;
    color: #2b2b2b;
    letter-spacing: 0.5px;
    margin: 0 0 60px 0;
}

.linhaSuave {
    background: linear-gradient(to right, transparent, #A396E9, transparent);
    opacity: 0.5; /* Deixa ela bem discreta */
    width: 100%;
    height: 1px;
    margin: 0 auto;
}

/*INTERAÇÃO*/

/* CONTAINER Q TEM TD */
.interacao {
    display: flex;
    justify-content: center;
    padding: 80px 20px;
    background-color: #F8F9FF;
    margin-top: -2px; 
}

/* CONTAINER DOS 3 CARDS */
.interacao .cards {
    display: flex;
    justify-content: center;
    align-items: stretch;  /*MESMA ALTURA*/
    gap: 30px;
    max-width: 1200px;
}

/*(misteriousbook, mood, fact) */
#misteriousbook, #mood, #fact {
    background-color: #fff;
    border: 1px solid #E0E0E0;
    padding: 40px 30px;
    border-radius: 20px;
    width: 350px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.4s ease;
    cursor: default; /* Só os itens internos: cursor pointer */
}

/* EFEITO HOVER CARDS */
#misteriousbook:hover, #mood:hover, #fact:hover {
    border-color: #8B78E6;
    box-shadow: 0 10px 30px rgba(139, 120, 230, 0.15);
    transform: translateY(-8px);
}

/* TÍTULOS DOS CARDS */
#misteriousbook span, #mood span, #fact span {
    margin-bottom: 25px;
    color: #4A338E;
    font-weight: 600;
    font-size: 20px;
    display: block;
}
/*IMAGEM DO PRESENTE*/
#presente {
    width: 180px;
    cursor: pointer;
    transition: 0.4s;
}
#presente:hover {
    filter: drop-shadow(0 0 10px #9f4dcb);
    transform: scale(1.1) rotate(5deg); /*balança qnd passa o mouse */
}

/* ESTILO DOS EMOJIS (MOOD) */
#mood-emojis {
    display: flex;
    gap: 15px;
    font-size: 30px;
    margin-bottom: 20px;
}

#mood-emojis span {
    cursor: pointer;
    transition: transform 0.3s ease;
}

#mood-emojis span:hover {
    transform: scale(1.3);
}

/* ARRUMANDO LÂMPADA */
.lamp img {
    width: 150px;
    cursor: pointer;
    transition: filter 0.3s ease, transform 0.3s ease;
}
.lamp img:hover {
    filter: drop-shadow(0 0 10px #FFD700); /* Brilho dourado ao passar o mouse */
    transform: rotate(5deg);
}

/* MSG */
.msg {
    color: #555;
    font-size: 17px;
    line-height: 1.6;
    margin-top: 15px;
    animation: aparecerSuave 0.6s ease;
}


/*SEPARAÇÃO*/
.linhaSuave {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, #D1D1D1, transparent);
    margin: 0 auto;
}

/* BENEFÍCIOS */
.Beneficios {
    padding: 80px 20px;
    text-align: center;
    background-color: #F8F9FF; 
}


.Beneficios h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 60px;
    color: #2b2b2b;
    letter-spacing: 0.5px;
}

.decoracao2 {
    color: #4A338E;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card1, .card2, .card3 {
    background-color: #fff; 
    border: 1px solid #E0E0E0;
    padding: 40px 20px;
    border-radius: 15px;
    width: 320px;
    box-shadow: none; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}


/*EFEITO HOVER*/
.card1:hover, .card2:hover, .card3:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.card1 h3,
.card2 h3,
.card3 h3 {
    margin-bottom: 15px;
    color: #6E00B3;
}

.card1 p,
.card2 p,
.card3 p {
    color: #444;
    line-height: 1.6;
}

/*footer*/
footer {
    background-color: #dcd7f8;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    color: #4A338E;
}