* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F8F9FF;
    color: #333333;
    overflow-x: hidden;
}

/* Estrutura principal dividindo lateral do conteúdo */
.dashboard-layout {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* INÍCIO ESTILIZAÇÃO MENU LATERAL */
.sidebar {
    width: 240px;
    background-color: #A396E9;
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.05);
    min-height: 100vh;
    position: sticky;
    top: 0;
    height: 100vh;
}

.sidebar h2 {
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-bottom: 50px;
    line-height: 1.2;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.sidebar a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    transform: translateX(5px);
}

.LogOut {
    margin-top: auto;
}

/* FIM ESTILIZAÇÃO MENU LATERAL */

/* INÍCIO ESTILIZAÇÃO CONTEÚDO PRINCIPAL */
.main-content {
    flex: 1;
    padding: 40px 40px 0 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow-x: hidden;
    max-width: 100%;
    min-height: 100vh;
}

/* MENSAGEM BOAS VINDAS */
.boasvindas {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.boasvindas span {
    font-weight: 600;
    font-size: 34px;
    color: #4A338E;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* AVATAR REDONDO */
#avatarUsuario {
    border-radius: 50%;
    border: 3px solid #A396E9;
    padding: 3px;
    object-fit: cover;
    width: 75px;
    height: 75px;
    flex-shrink: 0;
}

.cabecalho1 {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.cabecalho1 input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    transition: 0.3s;
}

.cabecalho1 input:focus {
    border-color: #8B78E6;
    box-shadow: 0 0 5px rgba(139, 120, 230, 0.5);
}

#lupa {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 10px;
    transition: 0.3s;
    background-color: #ffffff;
}

#lupa:focus {
    border-color: #8B78E6;
    box-shadow: 0 0 5px rgba(139, 120, 230, 0.5);
}

#pesquisar {
    margin-top: 0px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #8B78E6;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

#pesquisar:hover {
    background-color: #6E5CD6;
    transform: translateY(-2px);
}

/*TABELA LIVROS*/
.container-livros {
    background-color: white;
    border-radius: 16px;
    padding: 10px;
    box-shadow: 0 8px 24px rgba(163, 150, 233, 0.05);
    overflow-x: auto;
    border: 1px solid #EBF0FF;
    max-height: 500px;
    overflow-y: auto;
    /* ATIVA A ROLAGEM VERTICAL*/
    overflow-x: auto;
}

.tabela-livros {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.tabela-livros thead {
    background-color: #E2DCF9;
    top: 0;
    position: sticky;
    /*CABEÇALHO FIXO*/
    z-index: 1;
    /*CABEÇALHO POR CIMA DA ROLAGEM*/
}

.tabela-livros th {
    padding: 18px 14px;
    font-size: 1Spx;
    font-weight: 600;
    color: #4A338E;
}

.tabela-livros th:first-child {
    border-radius: 12px 0 0 12px;
}

.tabela-livros th:last-child {
    border-radius: 0 12px 12px 0;
}

.tabela-livros td {
    padding: 20px 14px;
    color: #4A4A4A;
    font-size: 16px;
    border-bottom: 1px solid #F3F2FD;
    vertical-align: middle;
}

.col-favorito {
    color: #4A338E;
    font-size: 18px;
    text-align: center;
}

.col-titulo {
    font-weight: 500;
    color: #1A1A1A;
}

.col-estrelas {
    color: #FBBF24;
    letter-spacing: 2px;
}

.col-acoes {
    cursor: pointer;
    letter-spacing: 8px;
    font-size: 16px;
}

.tabela-livros tbody tr:nth-child(even) { /*Even = pares*/
    background-color: #F8F9FF;
    /* Cor cinza claro nas linhas pares */
}

.tabela-livros tbody tr:nth-child(odd) { /*Odd = ímpares*/
    background-color: #FFFFFF;
    /* Cor branca nas linhas ímpares */
}

#btnedit, #btndelete {
    margin-top: 0px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    color: rgb(130, 27, 181);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
    
}
#btnedit:hover, #btndelete:hover {
    transform: translateY(-2px);
}
/* FOOTER */
.main-content footer {
    padding: 14px;
    width: calc(100% + 80px);
    margin-left: -40px;
    margin-right: -40px;
    margin-top: auto;
    text-align: center;
    background-color: #dcd7f8;
    font-size: 14px;
}